@use 'variaveis';

.hero {
  position: relative;
  padding: 5.6vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
background-size: cover; // Ajusta a imagem ao container, cobrindo toda a área
  text-align: center;
  background-image: url(/atividade_EBAC/exercicio_disney/src/images/525487\(1\).png);
  background-size: auto; // Ajusta a imagem ao container sem cortar partes
  background-repeat: no-repeat; // Evita repetição da imagem
  background-position: center;
   
    &__content{
     
      padding-top: 400px;
    }

    &__content__branding img {
        max-width: 100%;
        height: auto;
       
    }

    .informativos {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .textOne {
        color: variaveis.$text-color;
    }
  P {
        color: variaveis.$text-color;
    }
  

    .botaOne {
        background-color: variaveis.$primary-color;
        color: variaveis.$text-color;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 1em;
        font-weight: bold;
    }

    .simbolos img {
        width: 28px; // Ajuste o valor conforme necessário
        height: auto; // Mantém a proporção da imagem
    }
}
